.footer{
    background-color: #000; 
    color: #fff; 
    padding: 20px; 
}
.social-icons,
.contact-info {
  list-style: none; 
  padding: 0;
  margin: 0; 
}

.social-icons li,
.contact-info li {
  margin-bottom: 10px;
}

.icon {
  margin-right: 10px; 
  color: #fff; 
}
.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 10px; 
}
hr{
    border-top: 5px solid #BC005A !important;
    margin-top: 20px;
    margin-bottom: 0; 
}
span{
    color:#BC005A;
    font-weight: bold;
}

  
