.text-center{
    margin-top: 30px;
}
.form2{
    padding-left: 7%;
    padding-right: 7%;
}
.form3{
    padding-left: 7%;
    padding-right: 7%;
}
form .label{
    font-weight: bold;
    margin-top: 20px;
}
li{
    list-style: none;
}
.list1 li{
    font-weight: bold;
    padding-top: 30px;
}
.list2 li{
    font-weight: bold;
    color: dimgray;
    padding-top: 30px;
}
.list2{
    padding-bottom: 75px;
}
.text1{
    background-color: rgba(221, 225, 227, 0.45);
}
.text_msg{
    background-color: rgba(221, 225, 227, 0.45);
}
.pinkbtn{
    margin-bottom: 100px;
}